
body{
    background-color: rgb(82, 5, 118);
    margin: 0;
    
}

.header{
    display: flex;  
    color: lavender;
    margin-bottom: 20px;
    /* background-color:  lavenderblush; */
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/landscape2.jpg);
}

.again a {
    color: lavender;
    text-decoration: none;
    background-color: rgb(82, 5, 118);
    border-radius: 30px;
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.perso{
    position: relative;
    width: 100%;
    max-width: 150px; /*max-width for large screens*/
    background-color: lavender;
    align-content: center;
    transition: transform 0.3s ease; /* Smooth zoom on hover */

}

/* .perso:hover {
    transform: scale(1.1); /* Zoom on hover 
} */

.perso img{
    width: 100%;
    height: 100%;
    cursor: pointer;    /*Indicates a link with cursor*/
    object-fit: cover;
}

.cross {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(89, 80, 80, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10rem;
    font-weight: bold;
    pointer-events: none; /* To prevent blocking clicks */
    z-index: 1; /* Ensure the cross is on top of everything */
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Smaller columns for tablets */
    }

    .perso {
        max-width: 120px; /* Smaller max width */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Smaller columns for mobile */
    }

    .perso {
        max-width: 100px; /* Even smaller max width */
    }
}